.hmcl
.vscode
CustomSkinLoader
gtceu
ldlib
logs
modernfix
oeb
oei
oef
screenshots
PCL
authlib-injector.log
hmclversion.cfg
log4j2.xml
.qmenu_opened.marker
TrashSlotSaveState.json
usercache.json
usernamecache.json
rhino.local.properties
patchouli_data.json
probe